*{
  margin: 0;
  padding: 0;
}
body{
  background: steelblue
}
.app {
  padding: 3rem;
  margin-top: 5rem;

}

.todo-list{
  box-shadow: 3px 3px 3px 3px #223;
  padding: 1.4rem;
  background: rgba(7,7,7,0.4);
}

.todo{
  font-size: 2rem;
  box-shadow: 3px 3px 3px 3px #223;
  padding: .6rem;
  background: rgba(106, 105, 105, 0.212);
  color: #fff;
  margin: 12px 0;
}
.btn-div{
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-div button{
  padding: .3rem .6rem;
  border: 1px solid #fff;
  background: none;
  font-size: 1.2rem;
  color:  #fff;
  border-radius: 1.2rem;
  margin:  0 8px;
}

.input{
  border: none;
  border-radius: 2rem;
  width: 80%;
  padding: 1rem;

  display: block;
  margin: 0 auto;
  margin-top: 20px;
}