.form-error{
  padding: .6rem;
  background: rgba(238, 11, 11, 0.4);
  border-radius: 2rem;
  border: 2px solid rgba(232, 74, 46, 0.762);
  width: 80%;
  margin: 14px 0;
}

.error{
color: rgba(244, 46, 11, 0.934);
  margin: 14px 0;
}