.main-header{
  display: flex;
  height: 100%;
  box-shadow: 4px 4px 4px 10px #ccc;
  padding: 2rem;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
    a{
      text-decoration: none;
    }
    .right-menu{
      display: flex;
      width: 90%;
      justify-content: flex-end;
    }
    .hr-wrap{
      hr{
        // padding: 3rem;
        color: #000;
        height: 10px;
      }
    }
}